In [1]:
#Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
path=r'/Users/angitha/Achievement 4.6'

In [3]:
# Import orders_products_combined
df_ords_prods_combined = pd.read_pickle(os.path.join(path, 'Data', 'Prepared data', 'orders_products_combined.pkl'))

In [4]:
# Import df_prods
df_prods =  pd.read_csv(os.path.join(path, 'Data', 'Original data', 'products_checked.csv'), index_col = False)

In [5]:
#check rows and columns of df_ords_prods_combined
df_ords_prods_combined.shape

(32434489, 12)

In [6]:
# check rows and columns of df_prods
df_prods.shape

(49693, 6)

In [7]:
df_ords_prods_combined.head()

,order_id,product_id,add_to_cart_order,reordered,Unnamed: 0,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,_merge
0,2,33120,1,1,3355525,202279,prior,3,5,9,8.0,both
1,2,28985,2,1,3355525,202279,prior,3,5,9,8.0,both
2,2,9327,3,0,3355525,202279,prior,3,5,9,8.0,both
3,2,45918,4,1,3355525,202279,prior,3,5,9,8.0,both
4,2,30035,5,0,3355525,202279,prior,3,5,9,8.0,both

In [8]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [9]:
# Drop unnamed columns in df_prods (not necessary) 
df_prods = df_prods.drop(columns = ['Unnamed: 0'])

In [10]:
# Drop unnamed columns in df_ords_prods_combined (not necessary) 
df_ords_prods_combined = df_ords_prods_combined.drop(columns = ['Unnamed: 0', '_merge'])

In [11]:
# check rows and columns of df_prods
df_prods.shape

(49693, 5)

In [12]:
#check rows and columns of df_ords_prods_combined
df_ords_prods_combined.shape

(32434489, 10)

In [13]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [14]:
df_ords_prods_combined.head()

,order_id,product_id,add_to_cart_order,reordered,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order
0,2,33120,1,1,202279,prior,3,5,9,8.0
1,2,28985,2,1,202279,prior,3,5,9,8.0
2,2,9327,3,0,202279,prior,3,5,9,8.0
3,2,45918,4,1,202279,prior,3,5,9,8.0
4,2,30035,5,0,202279,prior,3,5,9,8.0

In [15]:
#Merging the ords_prods_combined df with the df_prods via the product_id column
df_ords_prods_merged = df_ords_prods_combined.merge(df_prods,on = ['product_id'], indicator=True)

In [16]:
df_ords_prods_merged.head()

,order_id,product_id,add_to_cart_order,reordered,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_name,aisle_id,department_id,prices,_merge
0,2,33120,1,1,202279,prior,3,5,9,8.0,Organic Egg Whites,86,16,11.3,both
1,26,33120,5,0,153404,prior,2,0,16,7.0,Organic Egg Whites,86,16,11.3,both
2,120,33120,13,0,23750,prior,11,6,8,10.0,Organic Egg Whites,86,16,11.3,both
3,327,33120,5,1,58707,prior,21,6,9,8.0,Organic Egg Whites,86,16,11.3,both
4,390,33120,28,1,166654,prior,48,0,12,9.0,Organic Egg Whites,86,16,11.3,both

In [17]:
#Checking the values in the _merge column
df_ords_prods_merged['_merge'].value_counts()

both          32434212
left_only            0
right_only           0
Name: _merge, dtype: int64

In [18]:
#Checking the merged shape
df_ords_prods_merged.shape

(32434212, 15)

In [19]:
#Exporting the newly merged dataframe; Using pickle format
df_ords_prods_merged.to_pickle(os.path.join(path, 'Data','Prepared data', 'orders_products_merged.pkl'))